*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    min-height:100vh;
    background:#f5f7fb;
}

.sidebar{

    width:260px;
    min-width:260px;
    height:100vh;

    background:white;

    padding:30px 20px;

    box-shadow:2px 0 20px rgba(0,0,0,.08);
}

.logo{

    font-size:28px;

    font-weight:bold;

    text-align:center;

    color:#5b5fc7;

    margin-bottom:40px;

}

.sidebar a{

    display:block;

    padding:15px;

    margin-bottom:10px;

    text-decoration:none;

    color:#333;

    border-radius:10px;

    transition:.3s;

}

.sidebar a:hover{

    background:#5b5fc7;

    color:white;

}

.main{

    flex:1;

    padding:50px;

}

/* Theme Button */

.theme-btn{

    position:fixed;

    top:25px;

    right:30px;

    width:55px;

    height:55px;

    border:none;

    border-radius:50%;

    background:#5b5fc7;

    color:white;

    font-size:22px;

    cursor:pointer;

    transition:.3s;

    z-index:999;

}

/* Dark Mode */

body.dark{

    background:#0f172a;

    color:white;

}

body.dark .sidebar{

    background:#1e293b;

}

body.dark .logo{

    color:#818cf8;

}

body.dark .sidebar a{

    color:white;

}

body.dark .sidebar a:hover{

    background:#6366f1;

}
body.dark .heading{

    color:#6d8acf;

}
body.dark .card{

    background:#bbcfee;

    color:rgb(10, 24, 45);

}

body.dark .theme-btn{

    background:#facc15;

    color:#111827;

}

*{

    transition:
    background .3s,
    color .3s,
    border-color .3s,
    box-shadow .3s;

}